/********************************************************/
/* Web con ejercicios y prácticas de Lenguaje de Marcas */
/* Autor: Juan Manuel Gutiérrez                         */
/* Versión: 1.0 24/10/22                                */
/********************************************************/

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
    transition: 0.3s;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f7ddc9;
    color: #111b20;
}

h1 {
    margin: 40px;
    font-weight: bold;
}

p {
    margin: 20px;
    text-indent: 3rem;
}

a {
    text-decoration: none;
}

.centered {
    margin: auto;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.boton {
    border-radius: 5px;
    border: 1px solid #292521;
    box-shadow: inset 0 0 0 0 #f9f9f9;
    color: #292521;
    font-weight: bold;
    list-style: none;
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    width: 200px;
}

.boton:hover {
    color: #f9f9f9;
    box-shadow: inset 300px 0 0 0 #292521;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #6fadc7;
    color: #111b20;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
