/********************************************************/
/* Web del Romanticismo: Canción del pirata             */
/* Autor: Juan Manuel Gutiérrez                         */
/* Versión: 1.0 24/10/22                                */
/********************************************************/

@font-face {
    font-family: Tangerine;
    src: url("../fonts/Tangerine-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
    color: #cdd8e8;
    background-image: url("../images/gold-pirates-icon-with-dark-blue-background-free-vector.jpg");
    background-repeat: repeat-y;
    background-size: 10%;
    background-color: #c4945d;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

a {
    color: #8297bc;
    text-decoration: none;
}

p {
    margin-bottom: 1rem;
}

#wrapper {
    margin: 0;
    width: max-content;
    padding: 20px 20px 20px 100px;
    background-color: #0009;

}