/********************************************************/
/* Web del Romanticismo: index global del romanticismo  */
/* Autor: Juan Manuel Gutiérrez                         */
/* Versión: 1.0 10/11/22                                */
/********************************************************/

/* ***** estilo general ***** */
/* Paleta de colores */
/*

Oscuro:     #31231E
Claro:      #D6E5E3
Marrón:     #517664
Gris claro: #CACFD6
Gris medio: #9FD8CB

fonts:
principal: Podkova
Subtítulo: Palanquin
Texto:     Spinnaker
*/

/* ********** FUENTES ********** */
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@400;500&family=Podkova:wght@500&family=Spinnaker&display=swap");

/* ********** COLORES ********** */
:root {
    --oscuro: #31231e;
    --oscuroTrans: #31231e66;
    --claro: #d6e5e3;
    --marron: #517664;
    --gris1: #cacfd6;
    --gris2: #9fd8cb;
    --blanco: #fff;
}

/* ********** GENERAL ********** */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}
body {
    background-color: var(--gris2);
    font-family: "Spinnaker";
}
#wrapper {
    background-color: var(--claro);
    margin: auto;
    width: 80%;
}
.titulo-seccion {
    background-color: rgb(179, 184, 184);
    font-size: 1.5rem;
    padding: 3% 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}
.centered {
    align-items: center;
    display: flex;
    justify-content: center;
}
.grid4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.col4 {
    padding: 10px;
}

/* ********** HERO SECTION ********** */
#hero {
    color: var(--blanco);
    font-family: "Podkova";
    font-size: 6vw;
    height: 100vh;
    position: relative;
    text-align: center;
}
#titulo {
    backdrop-filter: blur(5px);
    background-color: #fff5;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #31231e55;
    left: 50%;
    margin: auto;
    padding: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    
}
#myVideo {
    height: 100%;
    left: 0;
    object-fit: cover;
    top: 0;
    width: 100%;
}
#filtro {
    background-color: rgba(17, 4, 4, 0.375);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* ********** SECCIÓN Introducción ********** */
#introduccion {
    padding: 60px 3px;
    background-color: var(--blanco);
}
#introduccion p{
    padding: 10px 0px;
}
#intro-container {
    padding: 0px 30px;
    margin: 0px 30px;
    border-left: 5px solid var(--marron);
}

/* ********** SECCIÓN IDEAS (GRID) ********** */
#ideas {
    background-color: var(--gris1);
}
.grid2 {
    display: grid;
    grid-template-columns: 50% 50%;
}
.texto  li{
    padding: 5px 20px;
    margin:0px 50px;
}
.col2 img {
    width: 100%;
}


/* ***** SECCIÓN AUTORES (GRID) ***** */
#seccion3 {
    background-color: var(--claro);
}
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: 35vh 5vh 10vh;
    overflow: hidden;
    transition: 0.3s;
}
.card img {
    filter: grayscale(1);
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.card a {
    background-color: var(--oscuro);
    color: var(--claro);
    margin-top: -4px;
    padding: 5px;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.card:hover a {
    background-color: var(--marron);
}
.card p {
    padding: 5px;
    text-align: center;
}
.card:hover {
    background-color: var(--blanco);
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.6);
    transform: scale(1.05) translateY(-10px);
}
.card:hover img{
    filter: none;
    transform: scale(1.2);
}

/* ***** FOOTER ***** */
#footer{
    display:grid;
    grid-template-columns: 25% 25% 50%;
}
#footer div{
    padding:20px;
}

/* ***** media queries ***** */
@media screen and (min-width: 1600px) {
    #titulo {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 1000px) {
    .grid2 {
        grid-template-columns: 100%;
    }

    .grid4 {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 600px) {
    .grid4 {
        grid-template-columns: auto;
    }
    #footer{
        grid-template-columns: 100%;
    }
}
@media only screen and (max-width: 400px) {
    #wrapper {
        width: 90%;
    }
    #titulo {
        border-radius: 10px;
        padding: 10px 0px;
    }
}
