/********************************************************/
/* Web del Romanticismo: index global del romanticismo  */
/* Autor: Juan Manuel Gutiérrez                         */
/* Versión: 1.0 10/11/22                                */
/********************************************************/

@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@400;500&family=Podkova:wght@500&family=Spinnaker&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ***** estilo general ***** */
/* Paleta de colores */
/*
Oscuro:     #18261C
Claro:      #D9C49C
Marrón:     #8C530D
Gris claro: #BFAC9B
Gris medio: #A6958F

fonts:
principal: Podkova
Subtítulo: Palanquin
Texto:     Spinnaker
*/

/* ***** fuentes ***** */

body {
    background-color: #736e6c;
    font-family: "Spinnaker";
}

#wrapper {
    background-color: beige;
    width: 80%;
    margin: auto;
}

#hero {
    background-image: url("../images/wanderer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: "Podkova";
    font-size: 6vw;
    height: 80vh;
    padding: 1px;
    text-align: center;
}

#titulo {
    background-color: #fff2;
    width: 50%;
    margin: auto;

    padding: 50px;
    backdrop-filter: blur(5px);
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    text-align: center;
    box-shadow: 0px 0px 50px #18261C77;
}

/* ***** fuentes ***** */

/* ***** fuentes ***** */

/* ***** media queries ***** */
@media only screen and (max-width: 600px) {
    #titulo {
        border-radius: 10px;
        padding: 10px 0px;
    }
}
@media screen and (min-width: 1600px) {
    #titulo {
        font-size: 6rem;
    }
}
