/********************************************************/
/* Web del Romanticismo: index global del romanticismo  */
/* Autor: Juan Manuel Gutiérrez                         */
/* Versión: 1.0 10/11/22                                */
/********************************************************/

@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;500&family=Podkova:wght@500&family=Spinnaker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ***** estilo general ***** */
/* Paleta de colores */
/*
Oscuro:     #18261C
Claro:      #D9C49C
Marrón:     #8C530D
Gris claro: #BFAC9B
Gris medio: #A6958F

fonts:
principal: Podkova
Subtítulo: Palanquin
Texto:     Spinnaker
*/



/* ***** fuentes ***** */


body {
    background-color: #736E6C;
    font-family: "Spinnaker";
}

#wrapper {
    background-color: beige;
    width: 80%;
    margin: auto;
}

#prueba {
    font-family: "Palanquin";
    font-size: 1.5rem;
}

#hero {
    position: relative;
    height: 80vh;
    font-family: 'Podkova';
    color: #fff;
    font-size: 3rem;
    text-align: center;
}


#myVideo {
    top: 0;
    left: 0;
    width: 100%;
}
#titulo {
    position: absolute;
    background-color: #fff2;
    font-size: 4rem;
    width: 50%;
    padding: 30px;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#hero2 {
    margin-top: -100px;
    position: relative;
    height: 40vh;
}

#hero2 p {
    background-color: #0099ff;
}

#titulo3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* *** nos alinea el objeto en el centro del contenedor */
}


#hero4 {
    height: 80vh;
    background-image: url('../images/low-poly-grid-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#titulo4 {
    font-size: 5vw;
    font-weight: bold;
    width: 50%;
    position:absolute;
    color: lightseagreen;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

/* ***** fuentes ***** */



/* ***** fuentes ***** */



/* ***** media queries ***** */
@media only screen and (max-width: 300px) {
    #titulo {
        border-radius: 10px;
    }
}
@media only screen and(width<=900px){

}