/********************************************************/
/* Web del Romanticismo: Hoja de esilo de autores       */
/* Autor: Juan Manuel Gutiérrez                         */
/* Versión: 1.0 24/10/22                                */
/********************************************************/

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

:root {
    --oscuro: #31231e;
    --claro: #d6e5e3;
    --grisClaro: #cacfd6;
    --grisMedio: #7fc1b1;
    --marron: #517664;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--grisClaro);
    color: var(--oscuro);
}

#wrapper {
    margin: auto;
    width: 80%;
}
h1 {
    margin: 20px;
    font-style: italic;
}

p {
    margin: 20px;
}
.border img {
    width: 300px;
}

.border img:hover {
    transform: scale(1.1) rotate(1deg);
}

a {
    text-decoration: none;
    font-style: italic;
    color: var(--marron);
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 var(--marron);
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.boton a button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--oscuro);
    background-color: var(--marron);
    color: var(--claro);
    box-shadow: inset 0 0 0 0 var(--oscuro);
}
.boton a button:hover {
    color: var(--grisClaro);
    box-shadow: inset 70px 0 0 0 var(--oscuro);
}

.text-container a {
    padding: 0px 5px;
    font-weight: bold;
}

.text-container a:hover {
    color: var(--claro);
    box-shadow: inset 160px 0 0 0 var(--marron);
}

.text-container {
    width: 60%;
    margin: auto;
}

.border {
    width: 300px;
    height: 300px;
    margin: 30px;
    overflow: hidden;
    box-shadow: 10px 10px 64px -6px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.centered {
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .text-container {
        width: 100%;
    }

    .container {
        flex-direction: column;
        flex-flow: column-reverse;
        padding: 10px;
        margin-bottom: 50px;
    }
}
