/********************************************************/
/* Web del Romanticismo: Hoja de esilo de autores       */
/* Autor: Juan Manuel Gutiérrez                         */
/* Versión: 1.0 24/10/22                                */
/********************************************************/

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F7DDC9;
    color: #09090C;
}

h1 {
    margin: 20px;
}

p {
    margin: 20px;
}

.border img {
    width: 300px;
}

.border img:hover {
    transform: scale(1.1) rotate(1deg);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #847EA0;
}

.text-container {
    width: 60%;
    margin:auto
}

.border {
    width: 300px;
    height: 300px;
    margin: 30px;
    overflow: hidden;
    box-shadow: 10px 10px 64px -6px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.centered {
    margin: auto;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #6fadc7;
    color: #111b20;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: #111b20;
}

.footer a:hover {
    color: #eee;
}

@media only screen and (max-width:600px) {
    .text-container {
        width: 100%;
    }
    
    .container {
        flex-direction: column;
        flex-flow: column-reverse;
        padding: 10px;
        margin-bottom: 50px;
    }
}